@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background: linear-gradient(#111, #000);
  height: 100vh;
  color: rgb(255, 255, 255, 0.9);
  overflow: hidden;
}

.scale-hover {
  @apply hover:scale-125 transition-all duration-200
}

main {
  @apply h-[50vh] w-full flex justify-center items-center flex-col
}

h1 {
  text-shadow: 0.5px 0px 0px rgb(170, 130, 248);
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-black
}

h2 {
  text-shadow: 0.5px 0px 0px rgb(243, 189, 68);
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl
}